* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    border: 0
}
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
    -webkit-font-smoothing: antialiased;
    /* só funciona em browser webkit: chrome, safari. Deixa a letra mais suave */
    font-family: 'Roboto Mono', monospace;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    text-align: center;
    background-color: white;
}

:root{
    --primary-color: #e4ce25;
}

nav{
    display: flex;
    position: fixed;
    padding: 30px;
    left: 0;
    
    justify-content: right;
    
    width: 100%;
    background-color: var(--primary-color);
}

a{
    color: white;
}

nav .links-bar{
    flex-direction: row;
    margin-right: 10rem;
    height: 100%;
}

nav .links-bar a{
    color: white;
    background-color: black;
}

span {
    position: fixed;
    display: flex;
    width: 100%;
    
    margin-top: 79px;
    height: 3px;
    background-color: black;
}

#welcome-section{
    padding: 25%;
    background-image: radial-gradient(circle at 74.57% 7.45%, #785362 0, #6e4e58 8.33%, #63494e 16.67%, #564345 25%, #483d3d 33.33%, #383635 41.67%, #272e2f 50%, #15262a 58.33%, #001f26 66.67%, #001923 75%, #001221 83.33%, #000920 91.67%, #00001f 100%);;
    color: var(--primary-color);
    font-size: 34px;
}

#projects{
    padding: 25%;
    background-image: radial-gradient(circle at 11.43% 17.64%, #31529f 0, #113570 50%, #001a44 100%);
}

#contact{
    padding: 25%;
    background-color: aquamarine;
}

footer{
    padding: 40px;
}
